*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.full{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)), url(img.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
}
.nav-bar{
    display: flex;
    padding: 40px 120px;
}

.nav-logo img{
    width: 50px;
}
.nav-links{
    flex: 1;
}
.nav-links ul{
    margin-left: 50px;
    display: inline;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}
.nav-links ul a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: orange;
    display: block;
    margin: auto;
    transition: .5s;
}
.nav-links ul li:hover::after{
    width: 100%;

}
.banner-title{
    margin: 10px 190px;
    color:#fff;
}
.banner-title h1{
    font-size: 32px;
    margin-bottom: 10px;
    float: left;
    text-align: left;
}
.banner-title img{
    float: right;
    margin: 10px;
    width: 160px;
    border-radius: 50%;
}
.banner-title h2{
    text-align: right;
    float: right;
    margin-top: 180px;
    margin-right: -150px;
    color: #fff;
}
.banner-title span{
    color: orange;
}
.bar-vertikal{
    height: 100%;
    background: #000;
    top: 0;
    right: 0;
    position: absolute;
}
.search-icon{
    height: 60%;
    width: 80px;
}
.search-icon .fa{
    margin:45px 23px;
    display: block;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}
.social-icon{
    height: 35%;
    width: 80px;
    background: orange;
    text-align: center;
    padding-top: 27%;
    bottom: 0;
    position: absolute;
}
.social-icon .fa{
    margin: 15px 23px;
    display: block;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
}
.footer{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    line-height: 50px;
    background: rgb(75, 75, 75);
    color: #fff;
    position: absolute;
    bottom: 0px;
    text-align: center;
}